<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="methods" thread-count="2">
	<test name="mergeSortTest">
		<classes>
			<!-- <class name="sortTests.SortTester"/>
			<class name="sortTests.SearchTester"/> 
			<class name="practiceTests.TestRunner"/> 
			<class name="practiceTests.HighestProductTest"/> -->
			<class name="practiceTests.ProductIntTests"/>
		</classes>
	</test> -->
</suite> <!-- Suite -->
